.table {
  width: 100%;
  border: .2rem solid rgba(0,0,0,.075);
  -webkit-border-radius: .2rem;
  -moz-border-radius: .2rem;
  border-radius: .2rem;
  display: table;
}

.table-header-cell {
  display: table-cell;
  color: rgba(0,0,0,.75);
  padding: .5rem;
  border-bottom: .1rem dashed rgba(0,0,0,.075);
}

.table-header-cell, .table-cell {
  border-right: .1rem dashed rgba(0,0,0,.075);
}

.table-cell, .table-header-cell {
  display: table-cell;
  //float: left;
  width: auto;
  overflow: hidden;
}

//.table-cell.date-cell, .table-header-cell.date-cell {
//  width: 10%;
//}
//
//.table-cell.time-cell, .table-header-cell.time-cell, .table-cell.invoiced-cell, .table-header-cell.invoiced-cell {
//  width: 5%;
//}
//
//.table-cell.client-cell, .table-header-cell.client-cell {
//  width: 15%;
//}
//
//.table-cell.project-cell, .table-header-cell.project-cell {
//  width: 25%;
//}
//
//.table-cell.note-cell, .table-header-cell.note-cell {
//  width: 30%;
//}

.inner-table-cell {
  padding: .5rem;
  white-space: nowrap;
}

.inner-table-cell, .table-header-cell {
  line-height: 1.2rem;
}
.table-row, .table-header-row {
  display: table-row;
}

.table-cell:last-of-type, .table-header-cell:last-of-type {
  border-right: 0;
}

.table-row:nth-child(odd), .table-header-row {
  background: rgba(0,0,0,.035);
}

.table-header-cell:last-of-type, .table-cell:last-of-type {
  text-align: center;
}

.table-cell.active:hover {
  background: opacify($secondary, 0.1);
}

//.not-active {
//  pointer-events: none;
//}

.table-header-cell a {
  float: right;
  height: 100%;
  display: block;
  padding: 0 .5rem;
}

.table-header-cell i:hover {
  opacity: .75;
}